@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid #f73;
} */

:root {
  --primary-900: #000000;
  --primary-800: #1e1e1e;
  --primary-700: #3b3b3b;
  --primary-600: #5b5b5b;
  --primary-500: #919191;
  --primary-400: #c1c1c1;
  --primary-300: #e9e9e9;
  --primary-200: #f1f1f1;
  --primary-100: #fafafa;
}

.scrollbar::-webkit-scrollbar {
  @apply w-3 h-3;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-[--primary-200];
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[--primary-700] rounded border-2 border-[--primary-200];
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-[--primary-600];
}

a {
  @apply text-blue-500 hover:text-blue-400 hover:underline transition-all;
}

figure {
  @apply flex overflow-hidden;
}

.my-container {
  @apply max-w-[1296px] mx-auto px-3;
}

@media (max-width: 768px) {
  .my-container {
    @apply max-w-[375px];
  }
}

.logo {
  @apply w-[72px] h-8 bg-[url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/logo.svg)] bg-center bg-cover bg-no-repeat overflow-hidden whitespace-nowrap indent-[101%];
}

.bg-custom-black-gradient {
  background-image: linear-gradient(
    315deg,
    var(--primary-800) 0%,
    var(--primary-800) 49.97%,
    var(--primary-900) 50%
  );

  &:hover {
    background-image: linear-gradient(
      315deg,
      var(--primary-600) 0%,
      var(--primary-600) 49.97%,
      var(--primary-700) 50%
    );
  }
}

.ff-noto {
  font-family: 'Noto Sans', sans-serif;
}
